#About a{
    font-size: 20px;
    color: midnightblue;
    text-decoration: none;
} 

.box a{
    color: black;
    text-decoration: none;
}

.box{
    margin:10px 15px;
    padding: 15px;
    display: inline-block;
    width: auto;
}

.box:hover{
    margin:10px 15px ;
    padding: 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    width: auto;
    border-radius: 5px;
}

.big-box{
    width: 100%;
    box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.6);
}

h1{
    color: darkslategrey;
    font-weight: bold;
    font-size: 37px;
}

.members{
    font-size: 24px;
}